*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #0B132A;
}

.container-small {
  max-width: 1140px;
  margin: 0 auto;
}

.container-big {
  max-width: 1210px;
  margin: 0 auto;
}

/* header */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  margin-bottom: 100px;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link {
  color: #4F5665;
  text-decoration: none;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

.header__button__link {
  text-decoration: none;
  color: #0B132A;
}

.header__button__link--accent {
  text-decoration: none;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 50px;
  padding: 13px 45px;
}

.header__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__content {
  max-width: 555px;
}

.header__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title-accent {
  font-size: 50px;
  font-weight: 700;
}

.header__text {
  color: #4F5665;
  margin-bottom: 40px;
}

.header__text-accent {
  font-weight: 500;
}